body {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.countdown-container {
  text-align: center;
}

#countdown {
  font-size: 2em;
  font-weight: bold;
}

#randomNumber {
  font-size: 1.5em;
  font-weight: bold;
  color: #007BFF;
}
